 [Unit]
 Description=System Monitor Test 
 After=multi-user.target

 [Service]
 Type=idle
 WorkingDirectory=${SYSMONITOR_DIR}
 User=${USERNAME}
 ExecStart=/usr/bin/python3 ${SYSMONITOR_DIR}/${SERVICE_NAME}.py > ${SYSMONITOR_DIR}/sample.log 2>&1

 [Install]
 WantedBy=multi-user.target
